
body {
    background-image: url("majoramoon.jpg");
    height: 1%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
h1 {
    color: yellow;
}
h2  {
    color: yellow;
}
h3  {
    color: yellow;
}